.chasto__item {
    background: rgb(255, 255, 255);
    transition: box-shadow 150ms ease-out 0s;
    box-shadow: #ffe600 0px 4px 12px -6px;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    cursor: pointer;
    width: 260px;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 12px;
}
.chasto__item:hover {
    box-shadow: #eed603 0px 6px 22px -6px;
}