.menu__cart {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #ffe600;
  border-radius: 15px;
  height: 54px;
  border: 3px dotted #c5b30c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
}
