.popup-product__description {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 410px;
    grid-area: description;
    min-height: 240px;
}