.popup-product__container {
  max-width: 90%;
  min-height: 410px;
  z-index: 999;
  text-align: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  transition: opacity 150ms ease 0s, transform;
  position: relative;
  cursor: default;
  display: grid;
  grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  grid-template-rows: auto auto;
  grid-template-areas: 
  "img title"
  "img description";
  justify-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .popup-product__container {
    max-width: 97%;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "img"
    "description";
  }
}
