.modal {
    visibility: hidden;
    opacity: 0;
    /*width: 990px;
    height: 610px;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    background-color: #fff;
    transition: 0.3s all;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: opacity 150ms ease 0s, transform;
    display: flex;
 }