.kartochka__img {
    margin: 0px;
    position: relative;
    width: 100%;
    border-radius: 12px;
    top: 0px;
    transition: top 150ms ease-out 0s; /* анимацию сделать */
}
.kartochka__img:hover { 
    top: 10px;
}