@keyframes logo_rotate {
    0% {
        transform: scale(1) rotate(0deg);
       }
    50% {
        transform:scale(1.1) rotate(180deg);
    }
    
    100% {
        transform: scale(1) rotate(360deg);
       }
}
@keyframes shirina {
    0% {
    width: 0px;
    }
    100% {
    width: 250px;
    }
    }
@keyframes morgaet {
    from {
    opacity: 1;
    }
    to {
    
    opacity: 0.5;
    }
    }
@keyframes scale {
    0% {
        scale: 1;
    }
    5% {
        scale: 1.1;
    }
    10% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}
.page {
    height: auto;
    margin: 0 auto;
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    background: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 
.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
padding: 0 20px 0 20px;
}

.logo__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.logo__img:hover {
    animation: logo_rotate 0.3s linear;
    box-shadow: 1px 1px 1px #434343;
}
.header__info {
    padding: 0 40px 0 20px;
    font-size: 22px;
}
.tekst {
    animation: morgaet 1s linear 4s infinite alternate;
    border-right: 4px solid black;
    display: inline;
    }

.header__description {
    margin: 0;
    padding: 0;
    display: flex;
}
.header_textdecoration_underline {
    text-decoration: underline;
}
.phrase {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    }
.phrase-animation {
    margin: 0;
    padding: 0;
    animation: shirina 2s linear infinite alternate;
    height: 28px;
}

.header__brand {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 600;
}
.header_color_red {
    color: red;
}
.header__work-time {
    position: relative;
    margin-left: 60px;
    padding-left: 40px;
    font-size: 26px;
    color: #434343;
    line-height: initial;
}
.header__work-time:before {
    content: '';
    position: absolute;
    background-image: url(../images/clock-icon.svg);
    top: 7px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
}
.header__phone {
    display: block;
    margin-left: 60px;
    padding-left: 35px;
    position: relative;
    font-size: 26px;
    color: #434343;
    text-decoration: none;
    font-weight: 600;
}
.header__phone:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    background-image: url(../images/phone-icon.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}
.header__phone:hover {
    border-radius: 15px;
    box-shadow: #ffe600 0px 4px 12px -6px;
}
.menu {
    max-width: 1200px;
    margin:auto;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.menu__line {
    margin: 0;
    padding: 0;
    max-width: 75%;
    background-color: #fae110;
    border-radius: 15px;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
}
.menu__item {
    margin: 0;
    padding: 0;
    padding: 0 20px 0 20px;
    border-right: 1px solid #c5b30c;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 24px;
}

.menu__item:last-of-type {
    border-right: none;
}
.menu__item_decor_elem {
    font-weight: 600;
    font-size: 26px;
}

/* предлагаю пустую корзину немного смазать, чтобы не видно было особо, а когда добавил товар, сделать ярким и немного анимированным, чтобы не забыли оформить заказ до конца */
.menu__cart {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ffe600;
    border-radius: 15px;
    height: 54px;
    border: 3px dotted #c5b30c;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scale 5s linear 3s infinite;
}
.menu__cart {
    opacity: 0.7; /* если нет товаров в корзине */
}
.menu__cart-link {
    position: relative;
    font-weight: 800;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.menu__cart-link::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    background-image: url(../images/cart-icon.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;

}
.menu__cart-link::after {
    content: "2";
    font-size: 16px;
    line-height: 25px; 
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #fd0505;
    position: absolute; 
    top: -6px;
    right: -22px;
}
.menu__cart-link:hover {
    text-decoration: underline;
}
.menu__link {
    color: black;
    text-decoration: none;
}
.menu__link:hover {
    text-decoration: underline;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.chasto__title {
    margin-top: 30px;
    font-weight: 500;
}
.chasto__slider {
    display: flex;
    overflow: hidden;
    position: relative;
}
.chasto__slider-button {
    position: absolute;
    top:30%;
    display: block;
    z-index: 10;
    background-color: #fff;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chasto__slider-button:hover {
    opacity: 0.9;
    scale: 1.1;
}
.chasto__slider-button-img {
    width: 30px;
    height: 30px;
;
}
.chasto__slider-button-prev {
    left: 0;
    display: none;
}
.chasto__slider-button-next {
    right: 0;
}

#js-chasto {
    display: flex;
    translate: 0px 0;
    transition: translate 0.5s ease-in-out;
}
.chastoItem {
    background: rgb(255, 255, 255);
    transition: box-shadow 150ms ease-out 0s;
    box-shadow: #ffe600 0px 4px 12px -6px;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    cursor: pointer;
    width: 260px;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 12px;
}
.chastoItem:hover {
    box-shadow: #eed603 0px 6px 22px -6px;
}
.chasto__img {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
    pointer-events: none;
    position: relative;
    user-select: none;
    image-rendering: auto;
}
.chasto__opisanie {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 8px;
}
.chasto__subtitle {
    line-height: 18px;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    width: 100%;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
}
.chasto__subopisanie {
    width: 100%;
    margin-top: 4px;
    font-weight: 500;
}
.tovar__title {
    margin: 0;
    padding: 0;
    margin: 20px 0 30px;
    font-weight: 500;
    font-size: 36px;
}
.tovars {
    display: flex;
    flex-wrap: wrap;
}
.kartochka {
    width: 260px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 30px 0;
    cursor: pointer;
}
.kartochka__img {
    margin: 0px;
    position: relative;
    width: 100%;
    border-radius: 12px;
    top: 0px;
    transition: top 150ms ease-out 0s; /* анимацию сделать */
}
.kartochka__img:hover { 
    top: 10px;
}
.kartochka__title {
    margin: 8px 0px 8px 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
}
.kartochka__opisanie {
    margin: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: rgb(92, 99, 112);
    font-weight: 400;
}
.kartochka__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.kartochka__price {
    font-size: 16px;
    font-weight: 600;
}
.kartochka__button {
    outline: none;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    min-width: 100px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffe6007e;
    color: #d15700;
    margin-left: 20px;
}
.kartochka__button:hover {
    background-color: #eed603;
    color: #a74702;
}
.footer {
    margin-top: 100px;
    height: 50vh;
    width: 100%;
    background-color: black;
}
.footer__links {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}
.footer__column {
    font-size: 23px;
    margin: 50px 100px 0 0;
    display: flex;
    list-style-type: none;
    color:rgb(255, 255, 255);
    flex-direction: column;
    
}
.footer__link {
    color:rgb(255, 255, 255);
    font-size: 23px;
    line-height: 1.2;
    margin-top: 9px;
    white-space: normal;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}
.footer__link:hover {
    opacity: 1;
}

/* модальные окна */
.overlay {
   
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    transition: .3s all;
 }
 
 
 /* Стили для модальных окон */
 
 #modal1 {

    visibility: hidden;
 }
 #modal2 {

    visibility: hidden;
 }
 .modal {
    visibility: hidden;
    opacity: 0;
    /*width: 990px;
    height: 610px;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    background-color: #fff;
    transition: 0.3s all;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: opacity 150ms ease 0s, transform;
    display: flex;

 }
 
 /* для кнопки закрытия */
 
 .modal__cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: -40px;
    fill: #fff;
    cursor: pointer;
 }
 .modal__cross:hover {
    animation: scale 4s;
 }
 
.js-active {
    visibility: visible;
    opacity: 1;
}
.modal__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
}
.modal__ves {
    margin: 10px 0 10px 0;
    padding: 0;
    color: rgb(92, 99, 112);
    font-size: 20px;
    line-height: 20px;
}
.modal__imgzone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal__img {
    width: 400px;
    height: 400px;
    padding: 50px;
}
.modal__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.modal__opisanie {
    margin: 0 0 10px 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}
.modal__razmer {
    border-radius: 40px;
    background-color: rgb(243, 243, 247);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 8px 0px;
}
.modal__razmer_label {
    box-sizing: border-box;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 150ms ease 0s;


}
.modal__razmer_radio {
    width: 1px; 
    height: 1px;
    overflow: hidden; 
    clip: rect(0 0 0 0);
}
label, input, span {
    margin: 0;
    padding: 0;
}
input[type="radio"] {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden; 
    clip: rect(0 0 0 0);
}
input[type="radio"] + span {
    padding: 5px 25px 5px 25px;
}
input[type="radio"]:checked + span {
    font-weight: 500;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    border-radius: 9999px;
    color: rgb(0, 0, 0);
    transition: color 150ms ease 0s;

}